/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEBUG */
.container {
  border: 2px dashed red;
  /* height: 90vh; */
  /* background-color: #eeeeee; */
}

section {
  height: 90vh;
  /* background-color: #ccc; */
}

.mini-title {
}

.row {
  border: 1px solid lawngreen;
  /* height: 100px; */
}

.col-6 {
  border: 1px solid royalblue;
  /* height: 100px; */
}
/* HEADER NAV */

header {
  /* background: url(../img/header-img/index-banner-bg.png); */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}

.container .navBar {
  border: 2px dashed sienna;
  height: 10vh;
  /* background-color: #eeeeee; */
}

.header-nav-dropdown {
  border: 2px dashed blue;
  flex-grow: 1;
  justify-content: center;
}

ul > li {
  list-style: none;
}

/* JUMBOTRON */

.jumbo-title {
  width: 500px;
  border: 2px dashed green;
}

.roundBtn {
  margin-top: 300px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  /* border-radius: 50%; */
}

.jumbo-img > img {
  width: 600px;
  height: 600px;
  border: 1px dashed fuchsia;
}

/* 1st SECTION PLATFORM */

.platform {
  height: 90vh;
  border: 5px dashed fuchsia;
}

.platform-img > img {
  width: 700px;
  height: 600px;
  border: 1px dashed darkmagenta;
}

.platform-title {
  width: 500px;
  border: 2px dashed green;
}

/* 2nd SECTION CARDS */

.card {
  border: 1px solid black;
  height: 300px;
}

.card > img {
  border: 1px solid black;
  width: 200px;
  height: 200px;
}

.card > img.versus {
  width: 100px;
  height: 100px;
}
