/* Colours Palette */
:root {
  --button-color: #08cb7b;
  --bg-description: #f7f7f2;
  --bg-big-title: #ffffff;
}
/* DARK GREEN: #08CB7B */
/* LIGHT GREEN: #94CB53 */
/* BLACK: #000000 */
/* GRAY: #EBEBEB */
/* PETROL BLUE: #30405F */
/* ORANGE: FF9933 */
/* WHITE: #FFFFFF */

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
}
/* DEBUG */
.container {
  /* border: 2px dashed red; */
  max-width: 1000px;
  /* height: 90vh; */
  /* background-color: #eeeeee; */
}

.myButton {
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--button-color);
  opacity: 100%;
  border: none;
  font-weight: bold;
}
.mini-title {
  font-size: 1.5rem;
  color: #94cb53;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 1rem 0;
  color: var(--bg-big-title);
}

.title-description {
  color: var(--bg-description);
}

/* HEADER NAV */

header {
  background: url(../img/header-img/index-banner-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
}

.nav-logo {
  /* border: 2px dashed #94cb53; */
  height: 50px;
}

.header-nav-dropdown {
  /* border: 2px dashed blue; */
  flex-grow: 1;
  justify-content: center;
  color: #ffffff;
}

ul > li {
  list-style: none;
}

/* JUMBOTRON */

.jumbo-title {
  width: 30%;
  padding-top: 5rem;
  /* border: 2px dashed green; */
}

.roundBtn {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  /* border: 1px solid #94cb53; */
  border-radius: 50%;
  object-fit: scale-down;
}

.jumbo-img > img {
  position: absolute;
  top: -100px;
  left: 0px;
  width: 800px;
  /* height: 800px; */
  /* border: 1px dashed fuchsia; */
}

.controller-img {
  position: absolute;
  bottom: -100px;
  left: 20px;
  width: 400px;
  opacity: 0.2;
}

/* 1st SECTION PLATFORM */

#platform {
  height: 90vh;
  border: 5px dashed fuchsia;
}

.platform-img > img {
  width: 700px;
  height: 600px;
  border: 1px dashed darkmagenta;
}

.platform-title {
  width: 500px;
  border: 2px dashed green;
}

/* 2nd SECTION CARDS */

.col-6 {
  border: 1px solid black;
  height: 200px;
}

.card > img {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.card > img.versus {
  width: 50px;
  height: 50px;
}

/* 3rd SECTION QUICK FACTS */

.label {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
}

/* 4th SECTION LIVESTREAMING */

#livestreaming {
  background-image: url(../img/live-streaming-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  color: wheat;
}

/* 5th SECTION FEEDBACK */

#feedback {
}

/* 6th SECTION DISCOUNT BANNER */
#discount-banner {
}

/* 7th SECTION LATEST NEWS */

#latest-news {
}

/* NEWSLETTER BANNER */
#newsletter-banner {
}

/* FOOTER */
