<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TITLE -->
    <title>Esports Games</title>

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="./css/style.css" />

    <!-- VUE JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- MAIN JS -->
    <script type="text/javascript" src="./js/main.js" defer></script>
  </head>

  <body>
    <!-- vue start -->
    <div id="root">
      <header>
        <nav>
          <!-- Container -->
          <div class="container navBar d-flex align-items-center py-3">
            <!-- Nav Logo -->
            <img src="./img/header-img/logo.png" alt="logo" class="nav-logo" />
            <!-- Nav Links -->
            <div class="header-nav-dropdown d-flex">
              <ul class="nav-list d-flex p-1" v-for="navLink in navLinks">
                <li class="nav-item dropdown dropdown-hover">
                  {{ navLink.name }}
                </li>
                <a
                  class="dropdown-hover nav-link dropdown-toggle ms-1 mt-1"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  v-show="navLink.dropdownMenu"
                >
                </a>
                <ul class="dropdown-menu" v-for="drop in navLink.dropdowns">
                  <li>
                    <a class="dropdown-item" href="#">{{ drop.type }}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">{{ drop.action }}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">{{ drop.moreInfo }}</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">{{ drop.socialPage }}</a>
                  </li>
                </ul>
              </ul>
            </div>
            <!-- Nav Cart & Button -->
            <div class="button-container">
              <img src="./img/icon/cart-icon.png" alt="cart" class="ms-4" />
              <button class="myButton ms-4">LIVE STREAMING</button>
              <div class="cart-dot d-flex justify-content-center">
                <span>3</span>
              </div>
            </div>
          </div>
        </nav>
        <!-- Jumbotron -->
        <section id="jumbotron">
          <div class="container d-flex">
            <!-- jumbo Text -->
            <div class="jumbo-title">
              <div class="mini-title">Game With Live Streaming</div>
              <h1>Future Of Esports</h1>
              <div class="title-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet? Lorem ipsum dolor sit.
              </div>
              <div class="button-container">
                <button class="myButton mt-4 me-4">EXPLORE GAMES</button>
                <span>
                  <img
                    src="./img/icon/play-icon.png"
                    alt="play"
                    class="roundBtn"
                  />
                </span>
              </div>
            </div>
            <!-- Jumbo Image -->
            <div class="jumbo-img position-relative">
              <img
                src="./img/header-img/index-banner-illus.png"
                alt="soldier"
              />
            </div>
          </div>
          <div class="position-relative">
            <img
              src="./img/header-img/game-controler-2.png"
              alt="joypad"
              class="controller-img"
            />
          </div>
        </section>
      </header>
      <!-- Main -->
      <main>
        <!-- 1st Section Platform -->
        <section id="platform" class="container-fluid d-flex">
          <!-- Platform Big Image -->
          <div class="platform-img">
            <img src="./img/features-illus.png" alt="features" />
          </div>
          <!-- Platform Text -->
          <div class="platform-title">
            <div class="mini-title">
              The Ultimate Competitive Gaming Platform
            </div>
            <h1>
              Make Your Mark On <br />
              The Battle Field
            </h1>
            <div class="title-description mb-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
              adipisci? Lorem ipsum dolor <br />
              sit amet consectetur adipisicing elit adipisicing elit sit amet
              consectetur ipsum dolor.
            </div>
            <ul class="platform-list p-0">
              <li class="d-flex">
                <img
                  src="./img/icon/features-icon-1.png"
                  alt="icon-1"
                  class="live-img"
                />
                <div class="platform-text">
                  <h3 class="mt-2">Live Streaming</h3>
                  <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing. Lorem
                    ipsum dolor sit amet ipsum dolor sit amet consectetur.
                  </div>
                </div>
              </li>

              <li class="d-flex">
                <img
                  src="./img/icon/features-icon-2.png"
                  alt="icon-2"
                  class="live-img"
                />
                <div class="platform-text">
                  <h3 class="mt-2">Great Tournament</h3>
                  <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing. Lorem
                    ipsum dolor sit amet ipsum dolor sit amet consectetur.
                  </div>
                </div>
              </li>

              <li class="d-flex">
                <img
                  src="./img/icon/features-icon-3.png"
                  alt="icon-3"
                  class="live-img"
                />
                <div class="platform-text">
                  <h3 class="mt-2">Gaming News</h3>
                  <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing. Lorem
                    ipsum dolor sit amet ipsum dolor sit amet consectetur.
                  </div>
                </div>
              </li>
            </ul>
            <button class="myButton mt-2">PLAN NOW</button>
          </div>
        </section>
        <!-- 2nd Section Cards  -->
        <section id="trending-battles">
          <div class="container text-center">
            <div class="card-title-text">
              <div class="mini-title pt-5">Trending Battle</div>
              <h1>Keep Eyes & Manage Upcoming Battle</h1>
              <div class="title-description mb-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Ratione quod eveniet laudantium. Lorem ipsum dolor sit amet
                consectetur.
              </div>
            </div>

            <!-- Top Cards -->
            <div class="cardContainer d-flex justify-content-around mb-3">
              <div class="myCard">
                <img src="./img/cards-img/game-img-1.png" alt="croco" />
                <img
                  src="./img/cards-img/verus-icon.png"
                  alt="vs"
                  class="versus mx-3"
                />
                <img src="./img/cards-img/game-img-2.png" alt="mask" />
                <div class="cardGame mt-3">
                  <h5 class="card-title mt-3 title-description">
                    Call Of Duty
                  </h5>
                  <p class="card-text">December 25, 2022 4:00 PM</p>
                </div>
                <div class="card-social mt-3">
                  <a href="#" class="social">
                    <img src="./img/icon/youtube-icon.png" alt="tube" />
                    <span class="me-3">Youtube</span>
                  </a>
                  <a href="#" class="social">
                    <img src="./img/icon/twitch-icon.png" alt="twitch" />
                    <span>Twitch</span>
                  </a>
                </div>
              </div>
              <div class="myCard">
                <img src="./img/cards-img/game-img-3.png" alt="owl" />
                <img
                  src="./img/cards-img/verus-icon.png"
                  alt="vs"
                  class="versus mx-3"
                />
                <img src="./img/cards-img/game-img-4.png" alt="ranger" />
                <div class="cardGame mt-3">
                  <h5 class="card-title mt-3 title-description">
                    Legendary Battles
                  </h5>
                  <p class="card-text">December 25, 2022 4:00 PM</p>
                </div>
                <div class="card-social mt-3">
                  <a href="#" class="social">
                    <img src="./img/icon/youtube-icon.png" alt="tube" />
                    <span class="me-3">Youtube</span>
                  </a>
                  <a href="#" class="social">
                    <img src="./img/icon/twitch-icon.png" alt="twitch" />
                    <span>Twitch</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Bottom cards -->
            <div class="cardContainer d-flex justify-content-around">
              <div class="myCard">
                <img src="./img/cards-img/game-img-5.png" alt="wolf" />
                <img
                  src="./img/cards-img/verus-icon.png"
                  alt="vs"
                  class="versus mx-3"
                />
                <img src="./img/cards-img/game-img-6.png" alt="knight" />
                <div class="cardGame mt-3">
                  <h5 class="card-title mt-3 title-description">
                    Nay Corral Gundown
                  </h5>
                  <p class="card-text">December 25, 2022 4:00 PM</p>
                </div>
                <div class="card-social mt-3">
                  <a href="#" class="social">
                    <img src="./img/icon/youtube-icon.png" alt="tube" />
                    <span class="me-3">Youtube</span>
                  </a>
                  <a href="#" class="social">
                    <img src="./img/icon/twitch-icon.png" alt="twitch" />
                    <span>Twitch</span>
                  </a>
                </div>
              </div>
              <div class="myCard">
                <img src="./img/cards-img/game-img-7.png" alt="hooligan" />
                <img
                  src="./img/cards-img/verus-icon.png"
                  alt="vs"
                  class="versus mx-3"
                />
                <img src="./img/cards-img/game-img-8.png" alt="assassin" />
                <div class="cardGame mt-3">
                  <h5 class="card-title mt-3 title-description">
                    League Of Legends
                  </h5>
                  <p class="card-text">December 25, 2022 4:00 PM</p>
                </div>
                <div class="card-social mt-3">
                  <a href="#" class="social">
                    <img src="./img/icon/youtube-icon.png" alt="tube" />
                    <span class="me-3">Youtube</span>
                  </a>
                  <a href="#" class="social">
                    <img src="./img/icon/twitch-icon.png" alt="twitch" />
                    <span>Twitch</span>
                  </a>
                </div>
              </div>
            </div>
            <button class="myButton mb-3">VIEW ALL MATCHES</button>
          </div>
        </section>
        <!-- 3rd Section Quick Facts -->
        <section id="quick">
          <div class="container text-center py-5">
            <h1>Futio Quick Facts</h1>
            <div class="round-labels d-flex justify-content-center">
              <div class="label">
                <span class="quick-number">1135</span>
                <div class="quick-text">Twitch Streamers</div>
              </div>
              <div class="label">
                <span class="quick-number">44</span>
                <div class="quick-text">Total Games</div>
              </div>
              <div class="label">
                <span class="quick-number">982</span>
                <div class="quick-text">Youtube Streams</div>
              </div>
              <div class="label">
                <span class="quick-number">40</span>
                <div class="quick-text">Pro Teams</div>
              </div>
            </div>
          </div>
        </section>
        <!-- 4th Section Livestreaming -->
        <section id="livestreaming" class="text-center">
          <div class="container position-relative">
            <div class="mini-title">Live Streaming</div>
            <h1>Watch The Streams</h1>
            <div class="title-description">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
              eum dolores alias esse aliquam quos Labore eum dolores alias esse
              aliquam quos aliquam quos eum dolores alias esse aliquam quos
              Labore eum dolores alias esse aliquam quos Labore.
            </div>
            <img
              src="./img/video-bg.png"
              alt="battle"
              class="w-75 mt-5 z-img"
            />
            <!-- live label -->
            <div class="live-container-label position-absolute">
              <label class="live-button btn btn-warning">
                <img src="./img/icon/live-icon.png" alt="" />
                <span class="mx-2">Live</span>
              </label>
            </div>
            <!-- round button -->
            <div class="live-container-round-button position-absolute">
              <label class="live-round-button">
                <img
                  src="./img/icon/play-icon.png"
                  alt="play"
                  class="roundBtn"
                />
                <div class="my-2 fs-4">League Of Legends</div>
              </label>
            </div>
            <!-- viewers -->
            <div class="position-absolute live-viewers">
              <span class="number-of-viewers me-2">303.333</span>
              <span class="me-3">Viewers</span>
              <span class="number-of-viewers mx-2">33.333</span>
              <span class="">Likes</span>
            </div>
          </div>
        </section>
        <!-- 5th Section Feedback -->
        <section id="feedback" class="text-center position-relative">
          <div class="black-patch"></div>
          <div class="container">
            <div class="mini-title">Futio Feedback</div>
            <h1>What Our Gamers Say</h1>
            <div class="title-description pb-5">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
              eum dolores alias esse aliquam quos.
            </div>
            <!-- Feedback Card Container -->
            <div class="feedback-card-container d-flex justify-content-around">
              <div id="my-card" class="card" style="width: 18rem">
                <div id="my-card-body" class="card-body">
                  <div id="my-card-title" class="card-title text-start">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                  </div>

                  <p id="my-card-text" class="card-text text-start">
                    "Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Optio earum non nesciunt temporibus consequatur eligendi rem
                    ."
                  </p>
                  <div class="d-flex flex">
                    <img
                      src="./img/testimonials carousel/testimonials-image-1.png"
                      alt=""
                      id="my-card-link"
                      class="card-link"
                    />
                    <div class="d-flex flex-column ms-3">
                      <div class="a">Mario Bianchi</div>
                      <div class="a number-of-viewers">Italia</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2nd Card -->
              <div id="my-card" class="card" style="width: 18rem">
                <div id="my-card-body" class="card-body">
                  <div id="my-card-title" class="card-title text-start">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                  </div>
                  <p id="my-card-text" class="card-text text-start">
                    "Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Optio earum non nesciunt temporibus consequatur eligendi rem
                    ."
                  </p>
                  <div class="d-flex flex">
                    <img
                      src="./img/testimonials carousel/testimonials-image-2.png"
                      alt=""
                      id="my-card-link"
                      class="card-link"
                    />
                    <div class="d-flex flex-column ms-3">
                      <div class="a">Gary Francis</div>
                      <div class="a number-of-viewers">Francia</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 3rd Card -->
              <div id="my-card" class="card" style="width: 18rem">
                <div id="my-card-body" class="card-body">
                  <div id="my-card-title" class="card-title text-start">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                  </div>
                  <p id="my-card-text" class="card-text text-start">
                    "Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Optio earum non nesciunt temporibus consequatur eligendi rem
                    ."
                  </p>
                  <div class="d-flex flex">
                    <img
                      src="./img/testimonials carousel/testimonials-image-3.png"
                      alt=""
                      id="my-card-link"
                      class="card-link"
                    />
                    <div class="d-flex flex-column ms-3">
                      <div class="a">Kim Ross</div>
                      <div class="a number-of-viewers">Serbia</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Carousel -->
          </div>
        </section>
        <!-- 6th Section Discount Banner -->
        <section id="discount-banner" class="text-center">
          <div class="container offer-bg position-relative">
            <div class="title-description pt-5">Make Offer</div>
            <h1>Get 70% Offer Discount</h1>
            <button class="myButton">Get Offers</button>
            <img
              src="./img/discount-img/banner-item-obj1.png"
              alt=""
              class="position-absolute phone w-25"
            />
            <img
              src="./img/discount-img/banner-item-obj2.png"
              alt=""
              class="position-absolute earphones"
            />
            <div class="black-patch-phone"></div>
            <div class="black-patch-ears"></div>
          </div>
        </section>
        <!-- 7th Section Latest News -->
        <section id="latest-news" class="position-relative">
          <div class="container">
            <div class="mini-title text-center">Latest News</div>
            <h1 class="text-center">
              Stay Update With Our Latest News Articles
            </h1>
            <div class="title-description text-center pb-5">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
              eum dolores alias esse aliquam quos.
            </div>
            <!-- News Carousel  -->
            <div class="newsContainer">
              <div class="row">
                <div class="main-news-img col">
                  <img src="./img/blog-item-1.png" alt="" />
                  <div class="abs-news-stats d-flex justify-content-start ms-3">
                    <div>
                      <span
                        ><img
                          src="./img/icon/clock.png"
                          alt=""
                          class="me-1 w-25"
                      /></span>
                      <span>10 Min</span>
                    </div>
                    <div>
                      <span
                        ><img src="./img/icon/eye.png" alt="" class="me-1"
                      /></span>
                      <span>240</span>
                    </div>
                    <div>
                      <span
                        ><img
                          src="./img/icon/calendar.png"
                          alt=""
                          class="me-1 w-25"
                      /></span>
                      <span>Apr 11 2022</span>
                    </div>
                  </div>

                  <h2 class="news-text ms-4">
                    Secrets To An Amazing Role Playing Games
                  </h2>
                </div>
                <!-- Thumbnails -->
                <div class="thumb col d-flex flex-column">
                  <div class="abs-news-stats d-flex">
                    <div>
                      <span
                        ><img
                          src="./img/icon/clock.png"
                          alt=""
                          class="me-1 w-25"
                      /></span>
                      <span>10 Min</span>
                    </div>
                    <div>
                      <span
                        ><img src="./img/icon/eye.png" alt="" class="me-1"
                      /></span>
                      <span>240</span>
                    </div>
                    <div>
                      <span
                        ><img
                          src="./img/icon/calendar.png"
                          alt=""
                          class="me-1 w-25"
                      /></span>
                      <span>Apr 11 2022</span>
                    </div>
                  </div>
                  <div class="abs-news-text mt-5">
                    Top 5 Most Important Aspects Of Your Game
                  </div>
                  <div class="thumb-img d-flex">
                    <img src="./img/blog-item-2.png" alt="" />
                  </div>
                  <!-- thumb 2 -->
                  <div class="thumb col">
                    <div class="abs-news-stats d-flex">
                      <div>
                        <span
                          ><img
                            src="./img/icon/clock.png"
                            alt=""
                            class="me-1 w-25"
                        /></span>
                        <span>10 Min</span>
                      </div>
                      <div>
                        <span><img src="./img/icon/eye.png" alt="" /></span>
                        <span>240</span>
                      </div>
                      <div>
                        <span
                          ><img
                            src="./img/icon/calendar.png"
                            alt=""
                            class="me-1 w-25"
                        /></span>
                        <span>Apr 11 2022</span>
                      </div>
                    </div>
                    <div class="abs-news-text mt-5">
                      The Rise Of Fantasy Sports And Online Games
                    </div>
                    <div class="thumb-img d-flex justify-content-start">
                      <img src="./img/blog-item-3.png" alt="" />
                    </div>
                  </div>
                  <!-- thumb 3 -->
                  <div class="thumb col">
                    <div class="abs-news-stats d-flex">
                      <div>
                        <span
                          ><img
                            src="./img/icon/clock.png"
                            alt=""
                            class="me-1 w-25"
                        /></span>
                        <span>10 Min</span>
                      </div>
                      <div>
                        <span><img src="./img/icon/eye.png" alt="" /></span>
                        <span>240</span>
                      </div>
                      <div>
                        <span
                          ><img
                            src="./img/icon/calendar.png"
                            alt=""
                            class="me-1 w-25"
                        /></span>
                        <span>Apr 11 2022</span>
                      </div>
                    </div>
                    <div class="abs-news-text mt-5">
                      Benefits Of Gaming - PC And Video Games
                    </div>
                    <div class="thumb-img d-flex justify-content-start">
                      <img src="./img/blog-item-4.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Newsletter -->
          <div id="newsletter-banner" class="position-relative">
            <div
              class="news-banner-container d-flex flex-wrap position-absolute top-100 start-50 translate-middle"
            >
              <div class="news-text-container">
                <div class="title">Subscribe Newsletter</div>
                <div class="sub-title">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Reiciendis eaque amet ipsum dolor sit amet!
                </div>
              </div>
            </div>
            <input
              type="email"
              placeholder="Enter your email"
              class="mail-sender position-absolute"
            />
          </div>
        </section>
      </main>
      <!-- Footer -->
      <footer>
        <div class="container">
          <div class="foot row position-relative">
            <div
              class="email-img d-flex align-items-center justify-content-center"
            >
              <img src="./img/icon/send-icon.png" alt="" />
            </div>
            <div class="foot col-4">
              <div class="foot logo pt-3">
                <img src="./img/header-img/logo.png" alt="" />
                <div class="foot-text py-3">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad,
                  atque harum. Ipsam alias itaque optio?
                </div>
                <div class="foot-social-container d-flex">
                  <div
                    class="foot social-logos d-flex align-items-center justify-content-center me-2 social-hover"
                  >
                    <i class="fa-brands fa-youtube"></i>
                  </div>
                  <div
                    class="foot social-logos d-flex align-items-center justify-content-center me-2 social-hover"
                  >
                    <i class="fa-brands fa-twitch"></i>
                  </div>
                  <div
                    class="foot social-logos d-flex align-items-center justify-content-center me-2 social-hover"
                  >
                    <i class="fa-brands fa-facebook"></i>
                  </div>
                  <div
                    class="foot social-logos d-flex align-items-center justify-content-center social-hover"
                  >
                    <i class="fa-brands fa-instagram"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="foot col-2">
              <ul v-for="toDoLink in footLinks">
                <li class="fs-4 fw-semibold mt-3">{{ toDoLink.toDoTitle }}</li>
                <li class="color-hover">{{ toDoLink.toDo }}</li>
              </ul>
            </div>
            <div class="foot col-2">
              <ul v-for="faqLink in footLinks">
                <li class="fs-4 fw-semibold">{{ faqLink.faqTitle }}</li>
                <li class="color-hover">{{ faqLink.faq }}</li>
              </ul>
            </div>
            <div class="foot col-2">
              <ul v-for="SocialLink in footLinks">
                <li class="fs-4 fw-semibold">{{ SocialLink.socialTitle }}</li>
                <li class="color-hover">{{ SocialLink.social }}</li>
              </ul>
            </div>
            <div class="foot col-2">
              <ul v-for="LocationLink in footLinks">
                <li class="fs-4 fw-semibold">
                  {{ LocationLink.addressTitle }}
                </li>
                <li>
                  <div class="location-name">{{ LocationLink.name }}</div>
                  <div>{{ LocationLink.address }}</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <section id="copy" class="text-center">
      <div class="pt-4">
        Copyright &reg; 2002 <span class="location-name">FUTIO.</span> All
        Rights Reserved
      </div>
    </section>
    <!-- BOOTSTRAP SCRIPT -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
